extend ../layouts/_default
append value
  - const title = "アバウトのタイトル | Site Name";
  - const description = "アバウトのディスクリプション";
  - const keywords = "キーワード,キーワード2,キーワード3";
  - const path = "..";
  - const location = "about";

block header
  include ../components/layout/_header

block main
  include ../components/project/_swiper

block footer
  include ../components/layout/_footer